## Strings Demo

### 1. Strings in Python

#### Ways of creating a String

In [3]:
str1 = 'This is a string in Python'
print(str1)
print(type(str1))

This is a string in Python
<class 'str'>

In [5]:
str2 = "This is also a string in Python"
print(str2)
print(type(str2))

This is also a string in Python
<class 'str'>

In [7]:
str3 = '''This is a string within triple quotes'''
print(str3)
print(type(str3))

This is a string within triple quotes
<class 'str'>

In [8]:
str4 = """This is also a string within triple quotes"""
print(str4)
print(type(str4))

This is also a string within triple quotes
<class 'str'>

In [12]:
print('Hi "John"')

Hi "John"

In [13]:
print('''This is a 
multi-line string that spans
multiple lines''')

This is a
multi-line string that spans
multiple lines

In [15]:
print('This is a \
multi-line string that spans \
multiple lines')

This is a multi-line string that spans multiple lines

#### Accessing characters of a String

In [16]:
str1

'This is a string in Python'

In [17]:
str1[0]

'T'

In [18]:
str1[-1]

'n'

In [20]:
str1[4:10]

' is a '

### 2. Properties of Strings

#### Immutable

In [23]:
str1 = 'Hello'
print(id(str1))

str1 = str1 + ' World'
print(str1)
print(id(str1))

2070658322288
Hello World
2070658034160

#### Iterable

In [24]:
str1

'Hello World'

In [26]:
for ch in str1:
    print(ch, end='')

Hello World

#### Slicing

In [27]:
str1

'Hello World'

In [28]:
str1[2:5]

'llo'

In [29]:
str1[1:9]

'ello Wor'

In [30]:
str1[1:9:2]

'el o'

#### Unicode

In [31]:
str1

'Hello World'

In [33]:
ord('a'), ord('z')

(97, 122)

In [34]:
ord('A')

65

In [35]:
ord('&')

38

In [36]:
for ch in str1:
    print(ch, ord(ch))

H 72
e 101
l 108
l 108
o 111
  32
W 87
o 111
r 114
l 108
d 100

#### Concatenation

In [38]:
s1 = 'Data'
s2 = 'Science'

s1 + ' ' + s2

'Data Science'

#### Repetition

In [39]:
s1

'Data'

In [40]:
s1 * 3

'DataDataData'

In [42]:
s2 = 'abc123gh'
print(type(s2[4]))

<class 'str'>

### 3. Common String Functions

In [2]:
str1 = 'Data SCIEnce'

print(str1)
print(id(str1))

Data SCIEnce
2248366429488

#### `lower`

In [4]:
lower_str1 = str1.lower()

print(lower_str1)
print(id(lower_str1))

data science
2248366113584

In [5]:
str1

'Data SCIEnce'

#### `upper`

In [6]:
str1.upper()

'DATA SCIENCE'

In [7]:
str2 = 'This is 123 ABC'

print(str2.lower())
print(str2.upper())

this is 123 abc
THIS IS 123 ABC

#### `strip`

In [8]:
str3 = '   data science  '

In [9]:
str3.strip()

'data science'

In [18]:
str4 = '$$$$###data science#############@@@@@'

str4.strip('$').strip('@').strip('#')

'data science'

#### `replace`

In [ ]:
str1 = 'Data Science'
str1

'Data Science'

In [20]:
str1.replace('Science', 'Analysis')

'Data Analysis'

In [ ]:
str1.replace('a', 'z')

'Dztz Science'

In [23]:
str2 = 'Data Science and Data Engineering'
str2

'Data Science and Data Engineering'

In [26]:
str2.replace('Data', 'data', 1)

'data Science and Data Engineering'

#### `split`

In [27]:
str2

'Data Science and Data Engineering'

In [28]:
str2.split()

['Data', 'Science', 'and', 'Data', 'Engineering']

In [30]:
type(str2), type(str2.split())

(str, list)

In [31]:
str3 = 'Data-Science-and-Data-Engineering'
str3

'Data-Science-and-Data-Engineering'

In [ ]:
str3.split('-')

['Data', 'Science', 'and', 'Data', 'Engineering']

In [40]:
str3.split('-', 3)

['Data', 'Science', 'and', 'Data-Engineering']

In [35]:
str2.split('Data')

['', ' Science and ', ' Engineering']

In [43]:
name = 'Mr. James Anderson'

sal, full_name = name.split(maxsplit=1)
print(sal)
print(full_name)

Mr.
James Anderson

#### `join`

In [44]:
list1 = ['My', 'name', 'is', 'Jack']
list1

['My', 'name', 'is', 'Jack']

In [45]:
' '.join(list1)

'My name is Jack'

In [46]:
'--'.join(list1)

'My--name--is--Jack'

In [47]:
'   '.join(list1)

'My   name   is   Jack'

In [49]:
' 123 '.join(list1)

'My 123 name 123 is 123 Jack'